.Hub {
  .title {
    position: relative;
    top: 150px;
    margin-left: 10%;
  }
  .carousel {
    z-index: 100;
    position: relative;
    top: 150px;
    height: 300px;
    margin:auto;
    width: 90%;
    border-style: solid;
    border-radius: 10px;
    span {
      visibility: hidden;
    }
    .each-slide {
      height: 300px;
      width: 100%;
      #slidePic {
        height: 100%;
        border-radius: 5px;
      }
      .slideBLM{
        background-image: url('../img/blm.jpg');
        background-size: 100% 250px;
      } .slideENDANGERED {
        background-image: url(../img/endangered.jpg);
        background-size: 100% 250px;
      } .slideGENOCIDE {
        background-image: url(../img/genocide.jpg);
        background-size: 100% 250px;
      }
    }
  }
  #home-blogs {
    position: relative;
    top: 175px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
  }
}
