.Hub {
  .title {
    margin-left: 10%;
  }
  .carousel {
    height: 300px;
    margin:auto;
    width: 90%;
    padding: auto;
    border-style: solid;
    border-radius: 10px;
    span {
      visibility: hidden;
    }
    .each-slide {
      height: 300px;
      width: 100%;
      #slidePic {
        height: 100%;
        border-radius: 5px;
      }
      .slideBLM{
        background-image: url(../img/blm.jpg);
        background-size: 100% 250px;
      } .slideENDANGERED {
        background-image: url(../img/endangered.jpg);
        background-size: 100% 250px;
      } .slideGENOCIDE {
        background-image: url(../img/genocide.jpg);
        background-size: 100% 250px;
      }
    }
  }
}
